*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body { 
    font-family: Arial, sans-serif;  
    background-color: #cdd2db; 
    display: grid;
    grid-auto-rows:1fr;
    gap:25px;
}

.footer { 
    width: 100%;
    text-align: center; 
    background: white; 
    padding: 20px; 
    border-radius: 10px 10px 0 0;
}


#afslutKnap:hover{
    background-color: aquamarine;
}

button { 
    padding: 10px; cursor: pointer; 
    border: none; background: #ddd; 
    border-radius: 5px; 
    transition: all 150ms linear;
}


.question-container{
    background-color: white;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.answers{
    margin-top: 15px;
}

.answer{
    width:150px;
    margin:0px 10px;
    border: 1px solid black;
}

.answer:hover{
    background-color: #4b5477;
    border-color:#bababa;
    color:#bababa;
}

.answer:active{
    background-color: #1f2d44;
    color:white;
}

.selected{
    background-color: #051e4b;
    color:white
}